
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;

.filter{
    background-color: $secondary-color-sage;
     padding: 2rem 2rem;
     font-family: "Outfit";
     @include desktop{
        padding: 6rem 2rem;
     }
   
     @include desktop{
      min-width: 25vw;
     }
     &__list{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
     }
     &__header{
        font-size: 1.8rem;
        margin: 0;
        padding-bottom: 2rem;
     }
     &__item{
        list-style-type: none;
        color: $primary-color-green;
        border: 2px solid $primary-color-green;
        padding: 0.5rem 0.8rem;
        background-color: white;
        border-radius: 0.8rem;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover{
         background-color: $secondary-color-green;
         color: black;
      }
        &--active{
         background-color: $primary-color-green;
         color: white;
      }
        @include desktop{
         padding: 0.2rem 0.6rem;
       
         font-size: 1rem;
         border-radius: 0.5rem;
        }
        
     }
    
}