@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Alternative Files/Newsreader-Regular.woff2") format("woff2"), url("../../assets/fonts/Newsreader-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Alternative Files/Newsreader-Light.woff2") format("woff2"), url("../../assets/fonts/Newsreader-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Alternative Files/Outfit-Medium.woff2") format("woff2"), url("../../assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Alternative Files/Newsreader-LightItalic.woff2") format("woff2"), url("../../assets/fonts/Newsreader-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Alternative Files/Outfit-Light.woff2") format("woff2"), url("../../assets/fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Alternative Files/Outfit-Medium.woff2") format("woff2"), url("../../assets/fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
}
.form__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 2px solid #B7CEC9;
  border-radius: 0.5rem;
}

.form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.5rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 1280px) {
  .form {
    width: 70%;
  }
}
.form__comment {
  height: 5rem;
}
.form__comment:focus {
  border-color: #216a59;
  outline: none;
}
.form__comment.error {
  border-color: red;
}
@media screen and (min-width: 768px) {
  .form__comment {
    height: 6rem;
  }
}
.form__name {
  height: 2rem;
}
.form__name:focus {
  border-color: #216a59;
  outline: none;
}
.form__name.error {
  border-color: red;
}
@media screen and (min-width: 768px) {
  .form__name {
    height: 3rem;
  }
}
.form__button {
  width: 20%;
  background-color: #216a59;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  align-self: self-end;
  border: 0;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .form__button {
    width: 12%;
  }
}

.comments__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments {
  width: 90%;
  font-size: 1.2rem;
}
@media screen and (min-width: 1280px) {
  .comments {
    width: 70%;
  }
}
.comments__number {
  border-bottom: 2px solid #B7CEC9;
  padding: 1rem 0;
  margin: 0;
}
.comments__nameDate {
  display: flex;
  justify-content: space-between;
  color: #216a59;
  font-size: 0.8rem;
  padding-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  .comments__nameDate {
    font-size: 1.2rem;
  }
}
.comments__section {
  border-bottom: 2px solid #B7CEC9;
  padding: 0.8rem 0;
}
.comments__section:last-child {
  border-bottom: 0;
}

.error {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
}/*# sourceMappingURL=Form.css.map */