$tablet-breakpoint : 768px;
$desktop-breakpoint : 1280px;


$primary-color-black : #0C1E1A;
$primary-color-green: #216a59;
$primary-color-pistachio: #EFFAF7;

$secondary-color-green: #B7CEC9;
$secondary-color-sage: #E4EFEC;
$secondary-color-white: #FFFFFF;
