@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;

.header{
   display: flex;
   justify-content: space-between;
   margin: 2rem 2rem;
   &__title{
    margin: 0;
    font-family: "Newsreader";
    
   }
    &__button{
        background-color: $primary-color-pistachio;
        padding: 0rem 1.8rem;
        height: 3rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
        border: 3px solid $primary-color-green;
        &--active{
            background-color: $primary-color-green;
            &:hover{
                background-color: $secondary-color-green; 
            }
        }
        &--passive{
            color: $primary-color-green;
            border: 1px solid $primary-color-green;
            &:hover{
                background-color: $secondary-color-green;
            }
        }
    }
    &__filter-text{
        font-family: "Outfit";
        margin: 0;
        font-size: 1.2rem;
        color: $primary-color-green;
        &--active{
            color: white;
        }
    }
    &__filter-icon{
        width: 1.5rem;
        height: 1.5rem;
        &--passive{
            color: $primary-color-green;
        }
        &--active{
            color: white;
        }
        
    }
    &__home{
        margin: 0;
    }

}
.home-link{
    color: $primary-color-green;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    


}
.svg{
    width: 3rem;
}