@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;

.footer{
    margin: 1.5rem 1.5rem;
  
    &__snaps{
        font-family:"Newsreader";
        font-size: 3rem;
        margin-top: 4rem;
        font-weight: 400;   
        @include tablet{
            width: 50vw;
            font-size: 4rem;
        }
    }
    &__unordered{
        padding: 0;
        @include tablet{
            width: 50vw;
            display: flex;
            justify-content: space-around;
            margin: 0 0 6rem 0;
        }
    }
    &__wrapper{
        @include tablet{
            display: flex;
            padding: 2rem 0 4rem 0;
        }
    }
    &__list{
        list-style-type: none;
        font-family: "Outfit";
        margin: 2rem 0;
        font-size: 1.1rem;
        @include tablet{
            font-size: 1.5rem;
        }
    }
    &__bottom{
        padding: 0;
    }
    &__icons{
        display: none;
        @include desktop{
            display: flex;
            gap: 1.5rem;
            padding-top: 3rem; 
        }
    }
    &__icons-second{
        display: flex;
        gap: 1.5rem;
        @include desktop{
            display: none;
        }
    }
    &__icon{
        height: 2rem;
    }
    &__writings{
        color: $secondary-color-green;
        display: flex;
        gap: 2rem;
        font-size: 1.3rem;
    
        @include desktop{
            font-size: 1rem;
        }
    }
}