@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;

.card{
   font-family: "outfit";
   margin-bottom: 2rem;
   @include tablet{
    width: 40vw;
   }
   @include desktop{
    width: 30vw
   }
   &__item{
    position: relative;
    width: 90vw;
    @include tablet{
        width: 40vw;
    }
    @include desktop{
        max-width: 28vw;
    }
   }
    &__image{
        width: 90vw;
        height: auto;
        border: 3px solid $secondary-color-green;
        border-bottom: 0;
        border-radius: 1rem 1rem 0 0;
        @include tablet{
            width: 40vw;
            height: 35vh;
        }
        @include desktop{
            max-width: 28vw;
            height: 30vh;
        }
    }
    &__tags{
        list-style-type: none;
        padding: 0.5rem 0;
        width: 90vw;
        margin-right: 0;
        display: flex;
        gap: 0.8rem;
        padding-left: 1rem;
        background-color: $secondary-color-sage;
        border-radius: 0 0 1rem 1rem;
        border-left:  0.2rem solid $secondary-color-green;
        border-right:  0.2rem solid $secondary-color-green;
        border-bottom:  0.2rem solid $secondary-color-green;
        @include tablet{
            width: 40vw;
            display: flex;
        }
        @include desktop{
            max-width: 28vw;
        }
    }
    &__tag-piece{
        border: 2px solid $secondary-color-green;
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;
        background-color: white;
        @include tablet{
            padding: 0.5rem 0.2rem;
        }
    }
    &__photographer{
        border-bottom: 1px solid $secondary-color-green;
        border-radius: 0.8rem 0 0 0;
        padding: 1rem;
        margin: 0;
        position: absolute;
        bottom: 4.0rem;
        right: -0.2rem;
        background-color: $secondary-color-sage;
        @include tablet{
        }
    }
}