@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font" as *;


*{
  box-sizing: border-box;
}
h1{
  font-weight: 300;
  font-size: 3rem;
}
body{
    background-color: $primary-color-pistachio;
    font-family: "Newsreader";
    margin: 0;
    
}
::marker{
  content: none;
}

.hero-wrapper{
  @include desktop{
      display: flex;
      flex-direction: row-reverse;
 
      
  }

}